.alert {
  display: block;
  width:95%;
  margin: 0.75em auto;
  background-color: #7476BA;
  color: white;
  padding: 1em;
}

.alert-is {
  font-weight: bolder;
  margin: 1em;
}

.alert-close {
  text-align: center;
  font-size: 1em;
  display: inline-block;
  width: 100%;
}


@media (min-width: 768px) {
  .alert-close {
    float: right;
    width: 2em;
  }
}
