

.chart-1 {
  width: 100%;
  margin:auto;
  display:inline-flex;
  flex-flow: row wrap;
}

#tc-hourly,
#tc-daily,
#tc-weekly,
#tc-monthly {
  width: 100%;
}


#tc-hourly,
#tc-daily,
#tc-monthly {
  display:none;
}
.chart-2,
.chart-3 {
  width: 100%;
  margin:auto;
}

.chart-buttons {
  width: 85%;
  margin-left:auto;
  display:inline-flex;
  flex-flow: row-reverse wrap;
}
.chart-button {
  width: 23%;
  margin: 1px;
  font-size: 0.8em;
}

.chart-button:hover {
  background-color: #91C794;
}

.chart-button:active {
  background-color: #91C794;
}

@media (min-width: 768px) {
  .chart-button {
    width: 15%;
    margin: 1.25em;
  }
}

@media (min-width: 1024px) {
  .chart-2,
  .chart-3 {
    width: 50%;
  }

  .chart-button {
    width: 10%;

  }

}
