

header {
  display: inline-flex;
  padding: 0.5em;
  background-color: #7577BA;
  width: 100%;
}

header p {
  font-size: 1em;
  line-height: 2em;
  padding: auto;
}

header h1{
  color: white;
  font-size: 1.25em;
  margin:0;
  font-weight: normal;
  margin-right: auto;
}

.avatar,
.bell {
  width: 2em;
  height:2em;
  margin-left: 1em;
  margin-right: 0.5em;
}

.bell {
  padding-right: 0.5em;
}

.bell-dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #9ADB88;
  position: relative;
  left: 32px;
  top: 3px;
}

.profileinfo {
  border-left: 1px solid #000;
  display: flex;
}
.avatar {
  width: 2em;
  height:2em;
  border-radius: 50%;
  margin:0 3px ;
}
