
.main-container {
  width: calc(100% - 64px);
  background-color: #FFF;
  display: inline-flex;
  flex-flow: row wrap;
}

.dashboard-line {
  display: inline-flex;
  width: 100%;
  margin: auto;
}

.dashboard-line h2 {
  margin: 0 auto 0 0;
  padding: 4px;
  width: 25%;
  background-color: white;
}


.dashboard-line-in {
  display: inline-flex;
  background-color: lightgrey;
  width: 90%;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.dashboard-line-in input {
  margin:auto 1em auto auto;

}
