ul {
  list-style: none;
}

nav ul li {
  margin: 1em -2px;
}

.main-nav {
  display: inline-block;
  width: 64px;
  padding:16px;
  min-height: 1000px;
  vertical-align: top;
  background-color: grey;
}
