.sn-block {
  display: inline-flex;
  width:100%;
  margin-bottom: 1em;
}

.sn-widget {
  border: grey solid 1px;
  border-radius: 5px;
  width: 30%;
  margin: auto;
  display: inline-flex;
  background-color: #FBFBFB;
}

.sn-icon {
  background-color: #7476BA;
  border-radius: 50%;
  margin: 1em;
  padding: 15px;
  display: inline-block;
}

.sn-text {
  display: inline-block;
  margin: auto;
}

.sn-name {
  color: #7476BA
}

.sn-num {
  font-size: 3em;
}
