.sn-block {
  display: inline-flex;
  flex-flow: row wrap;
  width: 90%;
  margin: 1em auto;
}

.sn-widget {
  border: grey solid 1px;
  border-radius: 5px;
  width: 100%;
  margin: 0.5em auto;
  display: inline-flex;
  background-color: #FBFBFB;
}
.sn-block h2 {
  width: 100%;
}
.sn-icon {
  background-color: #7476BA;
  border-radius: 50%;
  margin: 1em;
  padding: 15px;
  display: inline-block;
}

.sn-text {
  display: inline-block;
  margin: auto;
}

.sn-name {
  color: #7476BA
}

.sn-num {
  font-size: 2em;
}


@media (min-width: 768px) {

    .sn-widget {
      width: 33%;
    }
}
